{% extends "base.html" %}

<!DOCTYPE html>
<html>
{% block content %}
    <h2>edit post</h2>
    <form method='post'>
        <label>
            <div>subject</div>
            <input type='text' placeholder="give your post a subject..." name='subject' value='{{subject}}'>
        </label>
        <label>
            <div>content</div>
            <textarea placeholder="write something here..." name='content'>{{content}}</textarea>
        </label>
        <div class='error'>{{error}}</div>
        <button style="font-size: 14px" onclick="goBack()">go back</button>
        <input type='submit'>
    </form>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
{% endblock %}
</html>
