{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    <h2>new post</h2>
    <form method='post'>
        <label>
            <div>subject</div>
            <input type='text' placeholder="give your post a subject..." name='subject' value='{{subject}}'>
        </label>
        <label>
            <div>content</div>
            <textarea placeholder="write something here..." name='content'>{{content}}</textarea>
        </label>
        <div class='error'>{{error}}</div>
        <input type='submit'>
    </form>
{% endblock %}