{% extends "base.html" %}

<!DOCTYPE html>
<html>
{% block content %}
    {{post.render() | safe}}
    <div class="row">
        <div class="col-md-12">
            {% if user %}
                <div>
                    <p class="smaller-text">
                    {% if post.user_id == user.key().id() %}
                        <a href="/{{post.key().id()}}/edit">edit post</a>
                        |
                        <a href="/{{post.key().id()}}/delete/{{post.user_id}}">
                        delete post</a>
                        <br>
                    {% endif %}
                    <br>
                    likes: {{post.likes}}
                    <br>
                    {% if not post.user_id == user.key().id() %}
                    <a href="/{{post.key().id()}}/like">
                        like post</a>
                    |
                    <a href="/{{post.key().id()}}/unlike">
                    unlike post</a>
                    <br>
                    {% endif %}
                    <a href="/{{post.key().id()}}/add/{{user.key().id()}}">
                    add comment</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <h3 class="comment-heading">comments</h3>
            </div>
            {% if comments %}
                {% for c in comments %}
                    <div class="comment-content">
                        <p class="comment-title">{{c.user_name}}</p>
                        <p class="comment-title-lower">posted
                            {{c.created.strftime("%b %d, %Y %I:%M %p")}}</p>
                        <p>{{c.comment}}</p>
                        {% if user and user.key().id() == c.user_id %}
                            <a href="/{{post.key().id()}}/{{c.user_id}}/edit/{{c.key().id()}}">
                            edit comment</a>
                            |
                            <a href="/{{post.key().id()}}/{{c.user_id}}/delete/{{c.key().id()}}">
                            delete comment</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
</html>
