<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/main.css" />
        <title>sign up</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>sign up</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <table>
                            <tr>
                                <td class="label">username</td>
                                <td><input type="text" name="username" value="{{username}}">
                                </td>
                                <td class="error">{{username_error}}</td>
                            </tr>
                            <tr>
                                <td class="label">password</td>
                                <td><input type="password" name="password"
                                value="{{password}}"></td>
                                <td class="error">{{password_error}}</td>
                            </tr>
                            <tr>
                                <td class="label">verify password</td>
                                <td><input type="password" name="verify" value="{{verify}}">
                                </td>
                                <td class="error">{{verify_error}}</td>
                            </tr>
                            <tr>
                                <td class="label">email (optional)</td>
                                <td><input type="text" name="email"
                                value="{{email}}"></td>
                                <td class="error">{{email_error}}</td>
                            </tr>
                        </table>
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>